/******************* BASICS *******************/
body {
  background-color: #e2e2e2;
  font-family: 'Open Sans', sans-serif;
  color: #333;
}

html {
  font-size: 70%;
}

a {
  cursor: pointer;
  text-decoration: none;
}

#container {
  width: 960px;
  min-height: 350px;
  margin: 15px auto;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 0px 15px #565656;
  border-radius: 20px;
}

.logo {
  float: left;
  width: 460px;
  margin-top: 10px;
  font-family: 'Ribeye', Georgia, serif;
  line-height: 0.8;
}

.logo:first-letter {
  float: left;
  margin-bottom: 0;
}

/******************* HEADER *******************/
#header {
  float: left;
  margin: 10px;
}

#header .logo {
  font-size: 32px;
  line-height: 0.8;
}

#header .logo a {
  color: #004394;
}

#header .logo a:hover {
  color: #99c;
}

#header .logo:first-line {
  font-size: 64px;
  letter-spacing: -6px;
}

#header .logo:first-letter {
  font-size: 96px;
  letter-spacing: -8px;
}

#header hr {
  position: absolute;
  top: 120px;
  width: 940px;
  height: 0;
  margin: 0;
  border: none;
  border-top: 5px solid #004394;
  border-radius: 0 0 20px 20px;
}

/******************* CONTACTS *******************/
#contacts {
  float: right;
  font-size: 1.2rem;
}

#contacts li {
  float: left;
  padding: 0 10px;
}

#contacts li p {
  float: left;
  line-height: 36px;
}

#contacts img {
  float: left;
  width: 36px;
}

/******************* MAIN NAV *******************/
#mainNav {
  float: right;
  position: relative;
  z-index: 2;
}

#mainNav li {
  display: inline-block;
  margin: 20px 0;
  width: 88px;
}

#mainNav a {
  display: block;
  margin: 0;
  padding-top: 4px;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: -1px;
  color: #ccf;
  text-align: center;
  background-color: #99c;
  border-radius: 10px 10px 0 0;
}

#mainNav a:hover {
  background-color: #004394;
  color: #efefef;
}

#mainNav .current {
  background-color: #004394;
  color: #efefef;
}

#mainNav ul a {
  border-radius: 0 0 0 0;
}

#mainNav ul {
  display: none;
  position: relative;
  padding-top: 5px;
  box-shadow: 0 3px 4px #777;
}

#mainNav li:hover > ul {
  display: table;
}

#mainNav ul li {
  margin: 0;
  padding: 0;
}

/******************* FOOTER *******************/
#footer {
  width: 960px;
  height: 150px;
  margin: 15px auto;
  overflow: hidden;
  background: #004394;
  box-shadow: 0px 0px 15px #565656;
  border-radius: 20px;
}

#footer .logo {
  margin: 10px;
  font-size: 20px;
}

#footer .logo a {
  color: #efefef;
}

#footer .logo a:hover {
  color: #99c;
}

#footer .logo:first-line {
  font-size: 40px;
  letter-spacing: -4px;
}

#footer .logo:first-letter {
  font-size: 60px;
  letter-spacing: -6px;
}
