/******************* BASICS *******************/
body {
  background-color: #e2e3e4;
  font-family: 'Open Sans', sans-serif;
  color: #333;
}

html {
  font-size: 70%;
}

a {
  cursor: pointer;
  text-decoration: none;
}
a:hover { color: #99c; }

h2 {
  margin-left: 20px;
  //padding: 7px;
  //color: white;
  font-size: 2.4em;
  font-family: 'Ribeye', cursive, serif;
  //font-weight: 600;
  line-height: 1.5;
  //background-color: #004394;
  border-radius: 5px;
}

.clear { clear: both; }
.clearfix:after { clear: both; }

#container {
  width: 960px;
  min-height: 350px;
  margin: 15px auto;
  padding-bottom: 20px;
  overflow: hidden;
  background: #fff;
  border-radius: 20px;
}

#content {
  float: left;
  width: 620px;
  padding: 0 10px;
}

#sidebar {
  float: left;
  width: 320px;
}


.logo {
  float: left;
  margin-top: 10px;
  font-family: 'Ribeye', Georgia, serif;
  line-height: 0.8;
}

.logo:first-letter {
  float: left;
  margin-bottom: 0;
}

/******************* HEADER *******************/
#header {
  float: left;
  margin: 10px;
}

#header .logo {
  width: 460px;
  font-size: 32px;
  line-height: 0.8;
}

#header .logo a {
  color: #004394;
}

#header .logo a:hover {
  color: #99c;
}

#header .logo:first-line {
  font-size: 64px;
  letter-spacing: -6px;
}

#header .logo:first-letter {
  font-size: 96px;
  letter-spacing: -8px;
}

#header hr {
  position: absolute;
  top: 120px;
  width: 940px;
  height: 0;
  margin: 0;
  border: none;
  border-top: 5px solid #004394;
  border-radius: 0 0 20px 20px;
}

/******************* CONTACTS *******************/
#contacts {
  float: right;
  font-size: 1.2rem;
}

#contacts li {
  float: left;
  padding: 0 10px;
}

#contacts li p {
  float: left;
  line-height: 36px;
}

#contacts img {
  float: left;
  width: 36px;
}

/******************* MAIN NAV *******************/
#mainNav {
  float: right;
  margin-top: 25px;
  list-style: none;
  z-index: 2;
}

#mainNav > li {
  display: inline-block;
  width: 88px;
}

#mainNav a {
  display: block;
  margin: 0;
  padding-top: 4px;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -1px;
  color: #ddf;
  text-align: center;
  background-color: #99c;
  border-radius: 10px 10px 0 0;
}

#mainNav a:hover {
  background-color: #004394;
  color: #eef;
}

#mainNav .current {
  background-color: #004394;
  color: #fff;
}

#mainNav ul a {
  border-radius: 0 0 0 0;
}

#mainNav ul {
  display: none;
  padding-top: 5px;
  z-index: 3;
}

#mainNav li:hover  ul {
  display: block;
  position: absolute;
}
#mainNav li:hover li {
  float: none;
}

#mainNav ul li {
  width: 88px;
}

/******************* Breadcrumbs *******************/
#breadcrumbs {
  float: left;
  margin-left: 10px;
  margin-top: 20px;
  font-size: 1em;
}

#breadcrumbs li {
  display: inline;
}

.crumb, .thiscrumb{
  color:#221;
  padding-right: 5px;
}

.thiscrumb {
  font-size: 1.1em;
  font-weight: 600;
}


.crumb:after {
  padding-left: 5px;
  content: ">";
  font-family: 'Ribeye';
  font-size: 1.2em;
  color: #004394;
}

/******************* ANIMAL SEARCH ******************/
.pet {
  float: left;
  margin: 10px 10px 20px 10px;
  padding: 5px;
  color: #004e94;
  border: 1px dashed #99c;
  border-radius: 5px;
}

.pet:hover {
  background: #004e94;
  color: white;
}

.pet img {
  width: 122px;
  height: 122px;
  border-radius: 5px;
}

.pet .name {
  font-size: 1.4em;
  //font-weight: 600;
  letter-spacing: -1px;
  padding: 10px 0;
}

/******************* SIDEBAR ******************/
.catButton, .dogButton {
  height: 150px;
  margin: 10px 10px 10px 20px;
  background-size: 350px auto;
  border-radius: 3px;
}

.catButton {
  background-image: url('../img/catbutton.jpg');
}

.catButton a, .dogButton a {
  float: left;
  width: 200px;
  margin-top: 110px;
  margin-left: -10px;
  padding: 5px 10px;
  font-size: 1.5em;
  font-weight: 400;
  letter-spacing: -1px;
  color: white;
  background-color: rgba( 0, 78, 148, 0.7);
  border-radius: 3px;
}

.catButton a:after, .dogButton a:after {
  content: "> > >";
  font-family: 'Ribeye Marrow', cursive;
  font-size: 1.2em;
  float: right;
}

.catButton a:hover, .dogButton a:hover {
  color: rgba( 0, 78, 148, 0.7);
  background-color: #ccf;
}

.latestNews {
  margin: 20px 10px 10px 20px;
  border: 1px dashed #99c;
  border-radius: 3px;
}

.latestNews > .heading {
  width: 210px;
  margin-top: -12px;
  margin-left: -11px;
  padding-left: 10px;
  color: white;
  line-height: 24px;
  font-size: 1.3em;
  background-color: rgba( 0, 78, 148, 0.8);
  border-radius: 3px;
}

.newsBrief { padding: 10px; }
.newsBrief a { font-weight: 600; }
.newsBrief img { 
  float: left; 
  width: 80px; 
  margin-right: 5px;
}
.newsBrief .heading { 
  font-size: 1.2em;
  font-weight: 600;
}

/******************* Content Footer ***********************/

#contentFoot p, #contentFoot a {
  color: #222;
  text-align: center;
}


/******************* FOOTER *******************/
#footer {
  width: 960px;
  height: 150px;
  margin: 20px auto;
  overflow: hidden;
  background: #004394;
  border-radius: 20px;
}

#footer .logo {
  width: 300px;
  margin: 10px;
  font-size: 18px;
}

#footer .logo a {
  color: #efefef;
}

#footer .logo a:hover {
  color: #99c;
}

#footer .logo:first-line {
  font-size: 36px;
  letter-spacing: -4px;
}

#footer .logo:first-letter {
  font-size: 54px;
  letter-spacing: -6px;
}

#footer .virginLink {
  position: relative;
  left: 598px;
  top: -68px
}

#footer #nav {
  float: right;
  font-size: 1.2rem;
  margin-top: 10px;
  margin-right: 120px;
}

#footer #nav a {
  width: 88px;
  height: 16px;
  display: block;
  text-align: center;
}

#footer .topitem {
  display: inline-block;
}

#footer .topitem a {
  font-weight: 700;
  color: #eef;
}

#footer .subitem a {
  font-weight: 400;
  color: #99c;
}

#footer #nav a:hover {
  color: #99c;
}

#footer .topitem > ul {
  display: table;
}

#footer .address {
  margin-left: 20px;
  float: left;
  width: 230px;
  text-align: left;
  color: #bbe;
}

#footer .charitydetails {
  float: right;
  margin-top: 56px;
  margin-right: 122px;
  color: #99c;
}
