/******************* BASICS *******************/
body {
  background-color: #e2e3e4;
  font-family: 'Open Sans', sans-serif;
  color: #333;
}

html {
  font-size: 70%;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.clear { clear: both; }
.clearfix:after { clear: both; }

#container {
  width: 960px;
  min-height: 350px;
  margin: 15px auto;
  overflow: hidden;
  background: #fff;
  border-radius: 20px;
}

.logo {
  float: left;
  margin-top: 10px;
  font-family: 'Ribeye', Georgia, serif;
  line-height: 0.8;
}

.logo:first-letter {
  float: left;
  margin-bottom: 0;
}

/******************* HEADER *******************/
#header {
  float: left;
  margin: 10px;
}

#header .logo {
  width: 460px;
  font-size: 32px;
  line-height: 0.8;
}

#header .logo a {
  color: #004394;
}

#header .logo a:hover {
  color: #99c;
}

#header .logo:first-line {
  font-size: 64px;
  letter-spacing: -6px;
}

#header .logo:first-letter {
  font-size: 96px;
  letter-spacing: -8px;
}

#header hr {
  position: absolute;
  top: 120px;
  width: 940px;
  height: 0;
  margin: 0;
  border: none;
  border-top: 5px solid #004394;
  border-radius: 0 0 20px 20px;
}

/******************* CONTACTS *******************/
#contacts {
  float: right;
  font-size: 1.2rem;
}

#contacts li {
  float: left;
  padding: 0 10px;
}

#contacts li p {
  float: left;
  line-height: 36px;
}

#contacts img {
  float: left;
  width: 36px;
}

/******************* MAIN NAV *******************/
#mainNav {
  float: right;
  position: relative;
  z-index: 2;
}

#mainNav li {
  display: inline-block;
  margin: 20px 0;
  width: 88px;
}

#mainNav a {
  display: block;
  margin: 0;
  padding-top: 4px;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: -1px;
  color: #ccf;
  text-align: center;
  background-color: #99c;
  border-radius: 10px 10px 0 0;
}

#mainNav a:hover {
  background-color: #004394;
  color: #efefef;
}

#mainNav .current {
  background-color: #004394;
  color: #efefef;
}

#mainNav ul a {
  border-radius: 0 0 0 0;
}

#mainNav ul {
  display: none;
  position: relative;
  padding-top: 5px;
}

#mainNav li:hover > ul {
  display: table;
}

#mainNav ul li {
  margin: 0;
  padding: 0;
}

/******************* Breadcrumbs *******************/
#breadcrumbs {
  float: left;
  margin-left: 10px;
  margin-top: 16px;
  font-size: 1em;
}

#breadcrumbs li {
  display: inline;
}

.crumb, .thiscrumb{
  color:#221;
  padding-right: 5px;
}

.thiscrumb {
  font-size: 1.1em;
  font-style: italic;
  font-weight: 600;
}


.crumb:after {
  padding-left: 5px;
  content: ">";
  font-family: 'Ribeye';
  font-size: 1.2em;
  color: #004394;
}

/******************* FOOTER *******************/
#footer {
  width: 960px;
  height: 150px;
  margin: 20px auto;
  overflow: hidden;
  background: #004394;
  border-radius: 20px;
}

#footer .logo {
  width: 300px;
  margin: 10px;
  font-size: 18px;
}

#footer .logo a {
  color: #efefef;
}

#footer .logo a:hover {
  color: #99c;
}

#footer .logo:first-line {
  font-size: 36px;
  letter-spacing: -4px;
}

#footer .logo:first-letter {
  font-size: 54px;
  letter-spacing: -6px;
}

#footer .virginLink {
  position: relative;
  left: 598px;
  top: -68px
}

#footer #nav {
  float: right;
  font-size: 1.2rem;
  margin-top: 10px;
  margin-right: 120px;
}

#footer #nav a {
  width: 88px;
  height: 16px;
  display: block;
  text-align: center;
}

#footer .topitem {
  display: inline-block;
}

#footer .topitem a {
  font-weight: 700;
  color: #eef;
}

#footer .subitem a {
  font-weight: 400;
  color: #99c;
}

#footer #nav a:hover {
  color: #99c;
}

#footer .topitem > ul {
  display: table;
}

#footer .address {
  margin-left: 20px;
  float: left;
  width: 230px;
  text-align: left;
  color: #bbe;
}

#footer .charitydetails {
  float: right;
  margin-top: 56px;
  margin-right: 122px;
  color: #99c;
}
